In [1]:
import pandas as pd
file= pd.read_csv('HW Test.csv')
file.describe()

              Index        Height        Weight
count  25000.000000  25000.000000  25000.000000
mean   12500.500000     67.993114    127.079421
std     7217.022701      1.901679     11.660898
min        1.000000     60.278360     78.014760
25%     6250.750000     66.704397    119.308675
50%    12500.500000     67.995700    127.157750
75%    18750.250000     69.272958    134.892850
max    25000.000000     75.152800    170.924000

In [2]:
#Calculate quartiles
hq1= file.Height.quantile(.25)
hq3= file.Height.quantile(.75)
wq1= file.Weight.quantile(.25)
wq3= file.Weight.quantile(.75)

hq1, hq3, wq1, wq3

(66.7043975, 69.2729575, 119.308675, 134.89285)

In [3]:
#Calculate iqr 
hiqr= hq3-hq1
wiqr= wq3-wq1
hiqr, wiqr

(2.568560000000005, 15.584175000000016)

In [5]:
#Limits
hlower= hq1-1.5*hiqr
hupper= hq3+1.5*hiqr
wlower= hq1-1.5*wiqr
wupper= hq3+1.5*wiqr
hlower, hupper, wlower, wupper

(62.85155749999999, 73.1257975, 43.328134999999975, 92.64922000000003)

In [8]:
#Finding outliers
file[(file.Height<hlower) | (file.Height>hupper)]
file[(file.Weight<wlower) | (file.Weight>wupper)]

       Index    Height    Weight
0          1  65.78331  112.9925
1          2  71.51521  136.4873
2          3  69.39874  153.0269
3          4  68.21660  142.3354
4          5  67.78781  144.2971
...      ...       ...       ...
24995  24996  69.50215  118.0312
24996  24997  64.54826  120.1932
24997  24998  64.69855  118.2655
24998  24999  67.52918  132.2682
24999  25000  68.87761  124.8742

[24954 rows x 3 columns]

In [15]:
#removing outliers
no_outliers= file[(file.Height>hlower) & (file.Height<hupper)], file[(file.Weight>wlower) & (file.Weight<wupper)]
no_outliers

(       Index    Height    Weight
 0          1  65.78331  112.9925
 1          2  71.51521  136.4873
 2          3  69.39874  153.0269
 3          4  68.21660  142.3354
 4          5  67.78781  144.2971
 ...      ...       ...       ...
 24995  24996  69.50215  118.0312
 24996  24997  64.54826  120.1932
 24997  24998  64.69855  118.2655
 24998  24999  67.52918  132.2682
 24999  25000  68.87761  124.8742

 [24833 rows x 3 columns],
        Index    Height    Weight
 249      250  65.93895  84.35980
 727      728  63.12550  83.08527
 1432    1433  64.87469  90.29334
 2009    2010  64.01976  90.91793
 2485    2486  63.19370  90.67840
 2651    2652  60.61265  88.04646
 3515    3516  63.96935  84.86345
 3597    3598  63.32113  92.37513
 5366    5367  66.64317  86.98200
 5705    5706  62.87732  86.66900
 5841    5842  62.34907  92.08858
 6256    6257  67.66363  91.26068
 6347    6348  64.51185  86.49925
 6438    6439  64.76520  92.20107
 7320    7321  65.36397  88.81051
 7417    7418  64.55084  90.03145
 8124    8125  64.84131  91.80850
 8150    8151  65.97774  91.25752
 8317    8318  65.00921  84.26295
 8414    8415  66.49187  90.16983
 10240  10241  61.93152  85.29040
 10477  10478  64.77966  89.64885
 11451  11452  67.48496  91.91782
 11485  11486  68.48521  90.53995
 12446  12447  64.74007  87.37910
 12699  12700  66.95170  91.22631
 12724  12725  62.70318  92.59193
 12731  12732  62.39800  89.19710
 13706  13707  67.88128  91.79628
 14106  14107  61.90725  78.56785
 14398  14399  65.39821  90.24255
 15005  15006  65.47213  83.33859
 15110  15111  64.43238  92.31443
 16552  16553  65.52770  90.67684
 17265  17266  62.95082  89.82395
 17598  17599  66.52168  90.28757
 19203  19204  63.86542  88.16618
 19472  19473  62.50167  91.57279
 19854  19855  64.74935  89.95606
 20391  20392  65.63699  92.23364
 21101  21102  65.84174  85.98927
 22282  22283  64.14250  91.37972
 22283  22284  64.02389  92.55327
 22738  22739  62.87593  87.80417
 22945  22946  61.92639  78.01476
 24610  24611  66.56804  82.38298)